

CONNECTION_STRING=Host=localhost;Port=5432;Database=BarberShopDB;Username=postgres;Password=your_db_password
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_publishable_key
DB_PASSWORD=YOUR_PASSWORd